@mixin title {
    font-family: 'poppins-600';
    font-size: 24px;
    line-height: 1.5;
    color: $title;
}
@mixin media($breakpoint) {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
.visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    padding: 0 !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    display: none !important;
}