.notification {
    position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        width: 200px;
        height: 200px;
        z-index: 100;
    &__container {
    
    }
    &__content {
        display: flex;
        align-items: center;
        &>span {
            margin-right: 10px;

        }
    }
    &__close {
        border: none;
        background-color: transparent;
        color: #1C2833;
        cursor: pointer;
        &:hover {
            color: #34515e;
        }
    }
}
